<div>
    <div class="row">
        <a href="/sellerlink">Link Product</a>
        <br>
        <a href="/addproduct">Add Product</a>
        <br>
        <br>
    </div>
    <table style="width:100%; border: 1px solid black; border-collapse: collapse; text-align: center;">
        <tr>
            <th>Inventory ID</th>
            <th>Product Name</th>
            <th>Cost</th>
            <th>Expiry</th>
            <th>Return within</th>
            <th>Quantity</th>
        </tr>
        <tr class="post" *ngFor="let post of posts">
            
                <td>{{post[0]}}</td>
                <td>{{post[1]}}</td>
                <td>{{post[2]}}</td>
                <td>{{post[3]}}</td>
                <td>{{post[4]}}</td>
                <td><a href="{{post[6]}}">{{post[5]}}</a></td>
        </tr>
    </table>
    <br>
    <br>
    <form (ngSubmit)="logOut(postForm.value)" [formGroup]="postForm">
        <input type="submit" value="Logout">
    </form>
</div>
