<div>
    <b>SELLER SIGNUP</b><br><br> <br>
    <form *ngIf="!busy" (ngSubmit)="signupSeller(postForm.value)" [formGroup]="postForm">
        <div class="form-group">
            <label for="sid">Seller ID</label><br>
            <input type="text" class="form-control" id="sid" formControlName="sid">
        
        </div>
        <br>
        <div class="form-group">
            <label for="name">Name</label><br>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email</label><br>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <br>
        <div class="form-group">
            <label for="pwd">Password</label><br>
            <input type="password" class="form-control" id="pwd" formControlName="pwd">
        </div>
        <br>
        <div class="form-group">
            <label for="phone">Phone</label><br>
            <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
        <br>
        <button type="submit" [disabled]="!postForm.valid" class="btn btn-primary">Submit</button>
        <br><br>
        <a href="/sellerlogin">Log-In</a>
    </form>
</div>